#con{
	background-color:white;
	text-align:center;
	width:100%;
	height:600%;
	padding-top: 30px;
	float:center;
	list-style:none;
	
}
#con1{
	font-weight:bolder;
	width:100%;
	height:600%;
	text-align:center;
	padding-top: 30px;
	list-style:none;
	
	
}
		*{
	margin:0;
	padding:0;
	}
#navigation{
	width:500px;
	margin:-5px 250px 100px;
	height:80px;
	overflow:hidden;
	list-style:none;
}
#navigation li{
	float:left;
	line-height:40px;
	margin:0 15 px 0 15px;
	list-style:none;
	
}
#navigation li a{
    color:#000000;
	text-align: center;
	text-decoration:none;
	padding:15px 10px 15px 10px;
	
	border-left:2px solid #fff;   /*kathetes leukes grames sto orizodio menu*/
}
#navigation li a:hover{
	background-color:#f0bfb3;   /*to xroma tu gyro keimenou otan pas to koubi*/
}
#navigation li:hover > ul{
	left:auto;
top:auto;
}
#navigation li ul{
	position:absolute;
	left:-999px;	
	border-bottom:5px solid #e89e8c;
	background:#e89e8c;
}
#navigation li ul li {
	float:none;
	display: block;
	min-width:150px;
}
#navigation li ul li a{
	font-size:14px;
	display:block;
	border:none !important;
	padding:3px 5px 3px 5px;
}
#navigation li ul li a:hover{
	text-decoration:none;
}
#searchbox{
	height:150px;
	width:300px;
	float:right;
	
}